<!-- Footer -->
<section class="footer pt-50" id="footer">
  <footer>
    <div class="container-fluid">
      <div class="row justify-content-around">
        <div class="col-lg-12 mt-lg-0 mt-20">
          <div class="row gap-sm-0 justify-content-around">
            <div class="col-md-4 col-6 mb-lg-0 mb-25">
              <p class="text-lg fw-semibold color-palette-1 mb-12">Company</p>
              <ul class="list-unstyled">
                <li class="mb-6">
                  <a
                    href=""
                    class="text-lg color-palette-1 text-decoration-none"
                    >About Us</a
                  >
                </li>
                <li class="mb-6">
                  <a
                    href=""
                    class="text-lg color-palette-1 text-decoration-none"
                    >Press Release</a
                  >
                </li>
                <li class="mb-6">
                  <a
                    href=""
                    class="text-lg color-palette-1 text-decoration-none"
                    >Terms of Use</a
                  >
                </li>
                <li class="mb-6">
                  <a
                    href=""
                    class="text-lg color-palette-1 text-decoration-none"
                    >Privacy & Policy</a
                  >
                </li>
              </ul>
            </div>
            <div class="col-md-4 col-6 mb-lg-0 mb-25">
              <p class="text-lg fw-semibold color-palette-1 mb-12">Support</p>
              <ul class="list-unstyled">
                <li class="mb-6">
                  <a
                    href=""
                    class="text-lg color-palette-1 text-decoration-none"
                    >Refund Policy</a
                  >
                </li>
                <li class="mb-6">
                  <a
                    href=""
                    class="text-lg color-palette-1 text-decoration-none"
                    >Unlock Rewards</a
                  >
                </li>
                <li class="mb-6">
                  <a
                    href=""
                    class="text-lg color-palette-1 text-decoration-none"
                    >Live Chatting</a
                  >
                </li>
              </ul>
            </div>
            <div class="col-md-4 col-12 mt-lg-0 mt-md-0 mt-25">
              <p class="text-lg fw-semibold color-palette-1 mb-12">Connect</p>
              <ul class="list-unstyled">
                <li class="mb-6">
                  <a
                    href="mailto: leapcomunity@gmail.com"
                    class="text-lg color-palette-1 text-decoration-none"
                    >leapcomunity@gmail.com</a
                  >
                </li>
                <li class="mb-6">
                  <a
                    href="mailto: leapcomunity@gmail.com"
                    class="text-lg color-palette-1 text-decoration-none"
                    >leapcomunity@gmail.com</a
                  >
                </li>
                <li class="mb-6">
                  <a
                    href=" "
                    class="text-lg color-palette-1 text-decoration-none"
                    >Pasific 12, Jakarta Selatan</a
                  >
                </li>
                <li class="mb-6">
                  <a
                    href=" "
                    class="text-lg color-palette-1 text-decoration-none"
                    >021 - 1122 - 9090</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</section>
